{% extends 'base.html.twig' %}

{% block title %}Selection Rendez-Vous{% endblock %}

{% block body %}
    <h1>Sélectionner la date et l'heure de votre rendez-vous</h1>

    {# {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit" class="btn-action save"><i class="fa fa-calendar"></i> Afficher les heures</button>
    {{ form_end(form) }} #}
    <form method="get" action="{{ path('app_selection_rendez_vous') }}">
        <div class="form-group" style="margin-bottom: 15px;">
            <label for="dateRendezVous">
                <span style="font-size: 16px;font-weight: bold; margin-bottom: 5px;">Date de rendez-vous :</span>
            </label>
            <input
                type="text"
                id="dateRendezVous"
                name="dateRendezVous"
                required
                class="form-control form-control-lg border-primary rounded shadow-sm js-datepicker"
                {# value="{{ date|date('Y-m-d') }}" #}
                value="{{ date|date('d/m/Y') }}"
                autocomplete="off"
                placeholder="jj/mm/aaaa"
            >
        </div>

        <button type="submit" class="btn-action save">
            <i class="fa fa-calendar"></i> Afficher les heures disponibles
        </button>
    </form>

    <hr>

    {% if availableSlots is not empty %}
        <h3>Créneaux disponibles pour la date du {{ date|format_datetime('full', locale='fr', pattern="EEEE dd MMMM YYYY")}} : </h3>

        <div class="slots-container">
            {% for slot in availableSlots %}
                <a href="{{ path('app_rdv_reserver', { date: slot|date('Y-m-d'), time: slot|date('H:i') }) }}"
                class="slot-btn">
                    {{ slot|date('H:i') }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready( function () {
            // initialisation pour tous les inputs avec .js-datepicker
            let today = new Date();
            let endDate = new Date();
            endDate.setDate(today.getDate() + {{ jourAffichable }});
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true,
                language: 'fr',
                startDate: today,
                endDate: endDate
            });
        });
    </script>
{% endblock %}
