{% extends 'base.html.twig' %}

{% block title %}Selection Rendez-Vous{% endblock %}

{% block body %}
    <h1>Sélectionner un créneau</h1>

    {{ form_start(form) }}
        {{ form_row(form) }}
        {# <button type="submit" class="btn-action save">Afficher les heures</button> #}
        <button class="btn-action save"><i class="fa fa-calendar"></i> Afficher les heures</button>
    {{ form_end(form) }}

    <hr>

    {# <form method="get" action="{{ path('app_selection_rendez_vous') }}">
        <label for="dateRendezVous">Date de rendez-vous :</label>
        <input type="date" id="dateRendezVous" name="dateRendezVous" required class="form-control">

        <button type="submit" class="btn btn-primary">Afficher les heures</button>
    </form> #}

    {# {% if availableSlots is not empty %}
        <h3>Créneaux disponibles :</h3>

        <div class="slots-container">
            {% for slot in availableSlots %}
                <a href="{{ path('app_rdv_reserver', { date: slot|date('Y-m-d'), time: slot|date('H:i') }) }}"
                class="slot-btn">
                    {{ slot|date('H:i') }}
                </a>
            {% endfor %}
        </div>
    {% endif %} #}

{% endblock %}
