{% extends 'base.html.twig' %}

{% block title %}Selection Rendez-Vous{% endblock %}

{% block body %}
    <h1>Rendez-vous enregistrer avec succès</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Immatriculation du véhicule</th>
                <td>{{ rendez_vou.immatriculation }}</td>
            </tr>
            <tr>
                <th>Propriétaire du véhicule</th>
                <td>{{ rendez_vou.proprietaire }}</td>
            </tr>
            <tr>
                <th>Contact du propriétaire du véhicule</th>
                <td>{{ rendez_vou.contact }}</td>
            </tr>
            <tr>
                <th>Mail du propriétaire du véhicule</th>
                <td>{{ rendez_vou.mail }}</td>
            </tr>
            <tr>
                <th>Adresse du propriétaire du véhicule</th>
                <td>{{ rendez_vou.adresse }}</td>
            </tr>
            <tr>
                <th>Centre d'acceuil pour le visite technique</th>
                <td>{{ rendez_vou.centre }}</td>
            </tr>
            <tr>
                <th>Date d'enregistrement du Rendez-Vous</th>
                <td>{{ rendez_vou.datePriseRendezVous ? rendez_vou.datePriseRendezVous|format_datetime('full', locale='fr', pattern="EEEE dd MMMM YYYY") : '' }}</td>
            </tr>
            <tr>
                <th>Date du Rendez-Vous</th>
                <td>{{ rendez_vou.dateRendezVous ? rendez_vou.dateRendezVous|format_datetime('full', locale='fr', pattern="EEEE dd MMMM YYYY") : '' }}</td>
            </tr>
            <tr>
                <th>Heure du Rendez-Vous</th>
                <td>{{ rendez_vou.heureRendezVous ? rendez_vou.heureRendezVous|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Rendez-vous confirmer</th>
                <td>{{ rendez_vou.confirmation ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Rendez-Vous annulez</th>
                <td>{{ rendez_vou.annulationRendezVous ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Code du Rendez-Vous</th>
                <td>{{ rendez_vou.codeRendezVous }}</td>
            </tr>
            <tr>
                <th colspan=2 style="text-align:center;">
                    <a href="{{ path('app_generate_pdf', { 'code': code }) }}" class="slot-btn"><i class="fa-solid fa-print"></i> Imprimer</a>
                    {# {% if rendez_vou.confirmation %} #}
                        <a href="{{ path('app_modification', { 'id': rendez_vou.id }) }}"
                            class="slot-btn">
                            <i class="fas fa-edit"></i> Modifier</a>
                        <a href="{{ path('app_annulation', { 'code': code }) }}"
                            class="slot-btn"
                            onclick="return confirm('Êtes-vous sûr de vouloir annuler ce rendez-vous ?');">
                            <i class="fa fa-trash" aria-hidden="true"></i> Annuler
                        </a>
                    {# {% endif %} #}
                    {# <a href="{{ path('app_generate_pdf', { code: code }) }}" class="slot-btn"><i class="fas fa-search"></i> Consultation</a> #}
                </th>
            </tr>
        </tbody>
    </table>

    <h2>Nous vous remercions de votre confiance.</h2>

{% endblock %}
