{% extends 'base.html.twig' %}

{% block title %}Liste Jour Spéciale{% endblock %}

{% block body %}
    <h1>Liste Jour Spéciale </h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(jour_speciales, 'ID', 'jour_speciale.id') }}</th>
                <th>{{ knp_pagination_sortable(jour_speciales, 'Date Spéciale', 'jour_speciale.dateSpeciale') }}</th>
                <th>{{ knp_pagination_sortable(jour_speciales, 'Ouvrable', 'jour_speciale.ouvrable') }}</th>
                <th>{{ knp_pagination_sortable(jour_speciales, 'Heure du Début', 'jour_speciale.heureDebut') }}</th>
                <th>{{ knp_pagination_sortable(jour_speciales, 'Heure de la Fin', 'jour_speciale.heureFin') }}</th>
                <th>{{ knp_pagination_sortable(jour_speciales, 'Actions', 'jour_speciale.id') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for jour_speciale in jour_speciales %}
            <tr>
                <td>{{ jour_speciale.id }}</td>
                <td>{{ jour_speciale.dateSpeciale ? jour_speciale.dateSpeciale|date('Y-m-d') : '' }}</td>
                <td>{{ jour_speciale.ouvrable ? 'Yes' : 'No' }}</td>
                <td>{{ jour_speciale.heureDebut ? jour_speciale.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ jour_speciale.heureFin ? jour_speciale.heureFin|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_jour_speciale_show', {'id': jour_speciale.id}) }}">show</a>
                    <a href="{{ path('app_jour_speciale_edit', {'id': jour_speciale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination pagination-lg">
                {{ knp_pagination_render(jour_speciales) }}
            </ul>
        </nav>
    </div>

    <a href="{{ path('app_jour_speciale_new') }}">Create new</a>
{% endblock %}
