{% extends 'base.html.twig' %}

{% block title %}Liste des Historiques des Rendez-Vous{% endblock %}

{% block body %}
    <h1>Liste des Historiques des Rendez-Vous</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(historique_rendez_vouses, 'ID', 'historique_rendez_vou.id') }}</th>
                <th>{{ knp_pagination_sortable(historique_rendez_vouses, 'Rendez-Vous', 'historique_rendez_vou.rendezVous') }}</th>
                <th>{{ knp_pagination_sortable(historique_rendez_vouses, 'Actions', 'historique_rendez_vou.id') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for historique_rendez_vou in historique_rendez_vouses %}
            <tr>
                <td>{{ historique_rendez_vou.id }}</td>
                <td>{{ historique_rendez_vou.rendezVous }}</td>
                <td>
                    <a href="{{ path('app_historique_rendez_vous_show', {'id': historique_rendez_vou.id}) }}">show</a>
                    <a href="{{ path('app_historique_rendez_vous_edit', {'id': historique_rendez_vou.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination pagination-lg">
                {{ knp_pagination_render(historique_rendez_vouses) }}
            </ul>
        </nav>
    </div>

    <a href="{{ path('app_historique_rendez_vous_new') }}">Nouveau</a>
{% endblock %}
