{% extends 'base.html.twig' %}

{% block title %}Historique de Rendez-Vous{% endblock %}

{% block body %}
    <h1>Historique de Rendez-Vous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ historique_rendez_vou.id }}</td>
            </tr>
            <tr>
                <th>Rendez-Vous</th>
                <td>{{ historique_rendez_vou.rendezVous }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_historique_rendez_vous_index') }}" class="btn-action back"><i class="fa fa-arrow-left"></i> Retour</a>

    <a href="{{ path('app_historique_rendez_vous_edit', {'id': historique_rendez_vou.id}) }}" class="btn-action edit">edition</a>

    {{ include('historique_rendez_vous/_delete_form.html.twig') }}
{% endblock %}
