{% extends 'base.html.twig' %}

{% block title %}Liste de Nombre de Modification Maximum{% endblock %}

{% block body %}
    <h1>Liste de Nombre de Modification Maximum</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de Modification</th>
                <th>Date d'Application</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nombre_modification_maximum in nombre_modification_maximums %}
            <tr>
                <td>{{ nombre_modification_maximum.id }}</td>
                <td>{{ nombre_modification_maximum.nombreModification }}</td>
                <td>{{ nombre_modification_maximum.dateApplication ? nombre_modification_maximum.dateApplication|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_nombre_modification_maximum_show', {'id': nombre_modification_maximum.id}) }}" class="btn-action show"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_nombre_modification_maximum_edit', {'id': nombre_modification_maximum.id}) }}" class="btn-action edit"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination pagination-lg">
                {{ knp_pagination_render(nombre_modification_maximums) }}
            </ul>
        </nav>
    </div>

    <a href="{{ path('app_nombre_modification_maximum_new') }}" class="btn-action new"><i class="fas fa-plus"></i> Nouveau</a>
{% endblock %}
