{% extends 'base.html.twig' %}

{% block title %}Liste Rendez-Vous{% endblock %}

{% block body %}
    <h1>Liste Rendez-Vous</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'ID', 'rendez_vou.id') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Immatriculation', 'rendez_vou.immatriculation') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Propriétaire', 'rendez_vou.proprietaire') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Contact', 'rendez_vou.contact') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Mail', 'rendez_vou.mail') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Adresse', 'rendez_vou.adresse') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Date de Prise du Rendez-Vous', 'rendez_vou.datePriseRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Date du Rendez-Vous', 'rendez_vou.dateRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Heure du Rendez-Vous', 'rendez_vou.heureRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Confirmation', 'rendez_vou.confirmation') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Date et Heure d\'Arrive au Rendez-Vous', 'rendez_vou.dateHeureArriveRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Date et Heure du Fin de la Visite', 'rendez_vou.dateHeureFinVisite') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Date et Heure du Début de la Visite', 'rendez_vou.dateHeureDebutVisite') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Annulation du Rendez-Vous', 'rendez_vou.annulationRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Date et Heure d\'Annulation du Rendez-Vous', 'rendez_vou.dateHeureAnnulationRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Code Rendez-Vous', 'rendez_vou.codeRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Date de Modification du Rendez-Vous', 'rendez_vou.dateModificationRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Date d\'Origine du Rendez-Vous', 'rendez_vou.dateOrigineRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Nombre de Modification', 'rendez_vou.dateOrigineRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(rendez_vouses, 'Actions', 'rendez_vou.') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for rendez_vou in rendez_vouses %}
            <tr>
                <td>{{ rendez_vou.id }}</td>
                <td>{{ rendez_vou.immatriculation }}</td>
                <td>{{ rendez_vou.proprietaire }}</td>
                <td>{{ rendez_vou.contact }}</td>
                <td>{{ rendez_vou.mail }}</td>
                <td>{{ rendez_vou.adresse }}</td>
                <td>{{ rendez_vou.datePriseRendezVous ? rendez_vou.datePriseRendezVous|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.dateRendezVous ? rendez_vou.dateRendezVous|date('Y-m-d') : '' }}</td>
                <td>{{ rendez_vou.heureRendezVous ? rendez_vou.heureRendezVous|date('H:i:s') : '' }}</td>
                <td>{{ rendez_vou.confirmation ? 'Yes' : 'No' }}</td>
                <td>{{ rendez_vou.dateHeureArriveRendezVous ? rendez_vou.dateHeureArriveRendezVous|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.dateHeureFinVisite ? rendez_vou.dateHeureFinVisite|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.dateHeureDebutVisite ? rendez_vou.dateHeureDebutVisite|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.annulationRendezVous ? 'Yes' : 'No' }}</td>
                <td>{{ rendez_vou.dateHeureAnnulationRendezVous ? rendez_vou.dateHeureAnnulationRendezVous|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.codeRendezVous }}</td>
                <td>{{ rendez_vou.dateModificationRendezVous ? rendez_vou.dateModificationRendezVous|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.dateOrigineRendezVous ? rendez_vou.dateOrigineRendezVous|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.nombreModification }}</td>
                <td>
                    <a href="{{ path('app_rendez_vous_show', {'id': rendez_vou.id}) }}">show</a>
                    <a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination pagination-lg">
                {{ knp_pagination_render(rendez_vouses) }}
            </ul>
        </nav>
    </div>

    <a href="{{ path('app_rendez_vous_new') }}">Create new</a>
{% endblock %}
