{% extends 'base.html.twig' %}

{% block title %}Liste du Nombre de Jour Maximum de Rendez-Vous{% endblock %}

{% block body %}
    <h1>Liste du Nombre de Jour Maximum de Rendez-Vous</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(nombre_jour_maximum_rendez_vouses, 'ID', 'nombre_jour_maximum_rendez_vou.id') }}</th>
                <th>{{ knp_pagination_sortable(nombre_jour_maximum_rendez_vouses, 'Nombre de Jour', 'nombre_jour_maximum_rendez_vou.nombreJour') }}</th>
                <th>{{ knp_pagination_sortable(nombre_jour_maximum_rendez_vouses, 'Date d\'Application', 'nombre_jour_maximum_rendez_vou.dateApplication') }}</th>
                <th>{{ knp_pagination_sortable(nombre_jour_maximum_rendez_vouses, 'Actions', 'nombre_jour_maximum_rendez_vou.id') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for nombre_jour_maximum_rendez_vou in nombre_jour_maximum_rendez_vouses %}
            <tr>
                <td>{{ nombre_jour_maximum_rendez_vou.id }}</td>
                <td>{{ nombre_jour_maximum_rendez_vou.nombreJour }}</td>
                <td>{{ nombre_jour_maximum_rendez_vou.dateApplication ? nombre_jour_maximum_rendez_vou.dateApplication|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_nombre_jour_maximum_rendez_vous_show', {'id': nombre_jour_maximum_rendez_vou.id}) }}">show</a>
                    <a href="{{ path('app_nombre_jour_maximum_rendez_vous_edit', {'id': nombre_jour_maximum_rendez_vou.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination pagination-lg">
                {{ knp_pagination_render(nombre_jour_maximum_rendez_vouses) }}
            </ul>
        </nav>
    </div>

    <a href="{{ path('app_nombre_jour_maximum_rendez_vous_new') }}">Nouveau</a>
{% endblock %}
