{% extends 'base.html.twig' %}

{% block title %}OuvertureSamedi index{% endblock %}

{% block body %}
    <h1>OuvertureSamedi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                <th>EnVigueur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ouverture_samedi in ouverture_samedis %}
            <tr>
                <td>{{ ouverture_samedi.id }}</td>
                <td>{{ ouverture_samedi.dateDebut ? ouverture_samedi.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ ouverture_samedi.dateFin ? ouverture_samedi.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ ouverture_samedi.heureDebut ? ouverture_samedi.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ ouverture_samedi.heureFin ? ouverture_samedi.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ ouverture_samedi.enVigueur ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_ouverture_samedi_show', {'id': ouverture_samedi.id}) }}">show</a>
                    <a href="{{ path('app_ouverture_samedi_edit', {'id': ouverture_samedi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ouverture_samedi_new') }}">Create new</a>
{% endblock %}
