{% extends 'base.html.twig' %}

{% block title %}Liste d'Ouverture Samedi{% endblock %}

{% block body %}
    <h1>Liste d'Ouverture Samedi</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date de Début</th>
                <th>Date de Fin</th>
                <th>Heure du Début</th>
                <th>Heure du Fin</th>
                <th>En Vigueur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ouverture_samedi in ouverture_samedis %}
            <tr>
                <td>{{ ouverture_samedi.id }}</td>
                <td>{{ ouverture_samedi.dateDebut ? ouverture_samedi.dateDebut|date('d/m/Y') : '' }}</td>
                <td>{{ ouverture_samedi.dateFin ? ouverture_samedi.dateFin|date('d/m/Y') : '' }}</td>
                <td>{{ ouverture_samedi.heureDebut ? ouverture_samedi.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ ouverture_samedi.heureFin ? ouverture_samedi.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ ouverture_samedi.enVigueur ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_ouverture_samedi_show', {'id': ouverture_samedi.id}) }}" class="btn-action show"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_ouverture_samedi_edit', {'id': ouverture_samedi.id}) }}" class="btn-action edit"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination pagination-lg">
                {{ knp_pagination_render(ouverture_samedis) }}
            </ul>
        </nav>
    </div>

    <a href="{{ path('app_ouverture_samedi_new') }}" class="btn-action new"><i class="fas fa-plus"></i> Nouveau</a>
{% endblock %}
