{% extends 'base.html.twig' %}

{% block title %}Liste d'Ouverture Samedi{% endblock %}

{% block body %}
    <h1>Liste d'Ouverture Samedi</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(ouverture_samedis, 'ID', 'ouverture_samedi.id') }}Id</th>
                <th>{{ knp_pagination_sortable(ouverture_samedis, 'Date de Début', 'ouverture_samedi.dateDebut') }}DateDebut</th>
                <th>{{ knp_pagination_sortable(ouverture_samedis, 'Date de Fin', 'ouverture_samedi.dateFin') }}DateFin</th>
                <th>{{ knp_pagination_sortable(ouverture_samedis, 'Heure du Début', 'ouverture_samedi.heureDebut') }}HeureDebut</th>
                <th>{{ knp_pagination_sortable(ouverture_samedis, 'Heure du Fin', 'ouverture_samedi.heureFin') }}HeureFin</th>
                <th>{{ knp_pagination_sortable(ouverture_samedis, 'En Vigueur', 'ouverture_samedi.enVigueur') }}EnVigueur</th>
                <th>{{ knp_pagination_sortable(ouverture_samedis, 'Actions', 'ouverture_samedi.id') }}actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ouverture_samedi in ouverture_samedis %}
            <tr>
                <td>{{ ouverture_samedi.id }}</td>
                <td>{{ ouverture_samedi.dateDebut ? ouverture_samedi.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ ouverture_samedi.dateFin ? ouverture_samedi.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ ouverture_samedi.heureDebut ? ouverture_samedi.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ ouverture_samedi.heureFin ? ouverture_samedi.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ ouverture_samedi.enVigueur ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_ouverture_samedi_show', {'id': ouverture_samedi.id}) }}">show</a>
                    <a href="{{ path('app_ouverture_samedi_edit', {'id': ouverture_samedi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination pagination-lg">
                {{ knp_pagination_render(ouverture_samedis) }}
            </ul>
        </nav>
    </div>

    <a href="{{ path('app_ouverture_samedi_new') }}">Create new</a>
{% endblock %}
