{% extends 'base.html.twig' %}

{% block title %}Ouverture Samedi{% endblock %}

{% block body %}
    <h1>Ouverture Samedi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ouverture_samedi.id }}</td>
            </tr>
            <tr>
                <th>Date de Début</th>
                <td>{{ ouverture_samedi.dateDebut ? ouverture_samedi.dateDebut|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de Fin</th>
                <td>{{ ouverture_samedi.dateFin ? ouverture_samedi.dateFin|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Heure du Début</th>
                <td>{{ ouverture_samedi.heureDebut ? ouverture_samedi.heureDebut|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure de la Fin</th>
                <td>{{ ouverture_samedi.heureFin ? ouverture_samedi.heureFin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>En Vigueur</th>
                <td>{{ ouverture_samedi.enVigueur ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ouverture_samedi_index') }}">Retour</a>

    <a href="{{ path('app_ouverture_samedi_edit', {'id': ouverture_samedi.id}) }}">edition</a>

    {{ include('ouverture_samedi/_delete_form.html.twig') }}
{% endblock %}
