{% extends 'base.html.twig' %}

{% block title %}Liste du Nombre de Rendez-Vous Par Heure{% endblock %}

{% block body %}
    <h1>Liste du Nombre de Rendez-Vous Par Heure</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(nombre_rendez_vous_par_heures, 'ID', 'nombre_rendez_vous_par_heure.id') }}</th>
                <th>{{ knp_pagination_sortable(nombre_rendez_vous_par_heures, 'Nombre de Rendez-Vous', 'nombre_rendez_vous_par_heure.nombreRendezVous') }}</th>
                <th>{{ knp_pagination_sortable(nombre_rendez_vous_par_heures, 'Date d\'Application', 'nombre_rendez_vous_par_heure.dataApplication') }}</th>
                <th>{{ knp_pagination_sortable(nombre_rendez_vous_par_heures, 'Actions', 'nombre_rendez_vous_par_heure.id') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for nombre_rendez_vous_par_heure in nombre_rendez_vous_par_heures %}
            <tr>
                <td>{{ nombre_rendez_vous_par_heure.id }}</td>
                <td>{{ nombre_rendez_vous_par_heure.nombreRendezVous }}</td>
                <td>{{ nombre_rendez_vous_par_heure.dataApplication ? nombre_rendez_vous_par_heure.dataApplication|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_nombre_rendez_vous_par_heure_show', {'id': nombre_rendez_vous_par_heure.id}) }}">show</a>
                    <a href="{{ path('app_nombre_rendez_vous_par_heure_edit', {'id': nombre_rendez_vous_par_heure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination pagination-lg">
                {{ knp_pagination_render(nombre_rendez_vous_par_heures) }}
            </ul>
        </nav>
    </div>

    <a href="{{ path('app_nombre_rendez_vous_par_heure_new') }}">Create new</a>
{% endblock %}
