{% extends 'base.html.twig' %}

{% block title %}Nombre de Rendez-Vous Par Heure{% endblock %}

{% block body %}
    <h1>Nombre de Rendez-Vous Par Heure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nombre_rendez_vous_par_heure.id }}</td>
            </tr>
            <tr>
                <th>Nombre de Rendez-Vous</th>
                <td>{{ nombre_rendez_vous_par_heure.nombreRendezVous }}</td>
            </tr>
            <tr>
                <th>Date d'Application</th>
                <td>{{ nombre_rendez_vous_par_heure.dataApplication ? nombre_rendez_vous_par_heure.dataApplication|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nombre_rendez_vous_par_heure_index') }}">Retour</a>

    <a href="{{ path('app_nombre_rendez_vous_par_heure_edit', {'id': nombre_rendez_vous_par_heure.id}) }}">edition</a>

    {{ include('nombre_rendez_vous_par_heure/_delete_form.html.twig') }}
{% endblock %}
