{% extends 'base.html.twig' %}

{% block title %}Liste des Durées Limites Avant Rendez-Vous{% endblock %}

{% block body %}
    <h1>Liste des Durées Limites Avant Rendez-Vous</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre d'Heure</th>
                <th>Date d'Application</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for duree_limite_avant_rendez_vou in duree_limite_avant_rendez_vouses %}
            <tr>
                <td>{{ duree_limite_avant_rendez_vou.id }}</td>
                <td>{{ duree_limite_avant_rendez_vou.nombreHeure ? duree_limite_avant_rendez_vou.nombreHeure|date('H:i:s') : '' }}</td>
                <td>{{ duree_limite_avant_rendez_vou.dateApplication ? duree_limite_avant_rendez_vou.dateApplication|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_duree_limite_avant_rendez_vous_show', {'id': duree_limite_avant_rendez_vou.id}) }}" class="btn-action show"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_duree_limite_avant_rendez_vous_edit', {'id': duree_limite_avant_rendez_vou.id}) }}" class="btn-action edit"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination pagination-lg">
                {{ knp_pagination_render(duree_limite_avant_rendez_vouses) }}
            </ul>
        </nav>
    </div>

    <a href="{{ path('app_duree_limite_avant_rendez_vous_new') }}" class="btn-action new"><i class="fas fa-plus"></i> Nouveau</a>
{% endblock %}
