{% extends 'base.html.twig' %}

{% block title %}DureeLimiteAvantRendezVous index{% endblock %}

{% block body %}
    <h1>DureeLimiteAvantRendezVous index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NombreHeure</th>
                <th>DateApplication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for duree_limite_avant_rendez_vou in duree_limite_avant_rendez_vouses %}
            <tr>
                <td>{{ duree_limite_avant_rendez_vou.id }}</td>
                <td>{{ duree_limite_avant_rendez_vou.nombreHeure ? duree_limite_avant_rendez_vou.nombreHeure|date('H:i:s') : '' }}</td>
                <td>{{ duree_limite_avant_rendez_vou.dateApplication ? duree_limite_avant_rendez_vou.dateApplication|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_duree_limite_avant_rendez_vous_show', {'id': duree_limite_avant_rendez_vou.id}) }}">show</a>
                    <a href="{{ path('app_duree_limite_avant_rendez_vous_edit', {'id': duree_limite_avant_rendez_vou.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_duree_limite_avant_rendez_vous_new') }}">Create new</a>
{% endblock %}
