{% extends 'base.html.twig' %}

{% block title %}DureeLimiteAvantRendezVous{% endblock %}

{% block body %}
    <h1>DureeLimiteAvantRendezVous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ duree_limite_avant_rendez_vou.id }}</td>
            </tr>
            <tr>
                <th>NombreHeure</th>
                <td>{{ duree_limite_avant_rendez_vou.nombreHeure ? duree_limite_avant_rendez_vou.nombreHeure|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateApplication</th>
                <td>{{ duree_limite_avant_rendez_vou.dateApplication ? duree_limite_avant_rendez_vou.dateApplication|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_duree_limite_avant_rendez_vous_index') }}">back to list</a>

    <a href="{{ path('app_duree_limite_avant_rendez_vous_edit', {'id': duree_limite_avant_rendez_vou.id}) }}">edit</a>

    {{ include('duree_limite_avant_rendez_vous/_delete_form.html.twig') }}
{% endblock %}
