{% extends 'base.html.twig' %}

{% block title %}NombreVehiculeMaximumRendezVous index{% endblock %}

{% block body %}
    <h1>NombreVehiculeMaximumRendezVous index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NombreVehicule</th>
                <th>DateApplication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nombre_vehicule_maximum_rendez_vou in nombre_vehicule_maximum_rendez_vouses %}
            <tr>
                <td>{{ nombre_vehicule_maximum_rendez_vou.id }}</td>
                <td>{{ nombre_vehicule_maximum_rendez_vou.nombreVehicule }}</td>
                <td>{{ nombre_vehicule_maximum_rendez_vou.dateApplication ? nombre_vehicule_maximum_rendez_vou.dateApplication|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_nombre_vehicule_maximum_rendez_vous_show', {'id': nombre_vehicule_maximum_rendez_vou.id}) }}">show</a>
                    <a href="{{ path('app_nombre_vehicule_maximum_rendez_vous_edit', {'id': nombre_vehicule_maximum_rendez_vou.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nombre_vehicule_maximum_rendez_vous_new') }}">Create new</a>
{% endblock %}
