{% extends 'base.html.twig' %}

{% block title %}Nombre de Véhicule Maximum par Rendez-Vous{% endblock %}

{% block body %}
    <h1>Nombre de Véhicule Maximum par Rendez-Vous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nombre_vehicule_maximum_rendez_vou.id }}</td>
            </tr>
            <tr>
                <th>Nombre de Véhicule</th>
                <td>{{ nombre_vehicule_maximum_rendez_vou.nombreVehicule }}</td>
            </tr>
            <tr>
                <th>Date d'Application</th>
                <td>{{ nombre_vehicule_maximum_rendez_vou.dateApplication ? nombre_vehicule_maximum_rendez_vou.dateApplication|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nombre_vehicule_maximum_rendez_vous_index') }}" class="btn-action back"><i class="fa fa-arrow-left"></i> Retour</a>

    <a href="{{ path('app_nombre_vehicule_maximum_rendez_vous_edit', {'id': nombre_vehicule_maximum_rendez_vou.id}) }}" class="btn-action edit"><i class="fas fa-edit"></i> edition</a>

    {{ include('nombre_vehicule_maximum_rendez_vous/_delete_form.html.twig') }}
{% endblock %}
